
/*------------ HEADER ---------------*/
.heading
{
    display: flex;
    justify-content: center;
}

.btn-con
{
    display: flex;
    justify-content: space-between;
}

.prevBtn
{
    float: left;
    margin-left: 20px;
}

.nextBtn
{
    float: right;
    margin-right: 20px;
}

.currMonthSpan
{
    text-align: center;
    font-weight: 500;
}

/*--------------- CALENDAR ---------------*/

.calendar-con
{
    border: 1px solid rgb(7, 7, 7)1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px; /* spacing between the month cells */
    padding: 20px;
}

.month-con
{
    background-color: #2e2d2d;
    margin: 5px;
    border-radius: 5px;
    padding:5px;
    display:block;
}

#day-span
{
    background-color: #1a1a1a;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.gameDetails
{
    width:85%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
}
#gameImg
{
    width:100%;
    height: auto;
}

/*--------------- GAME MODAL ---------------*/


.modal-con
{
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    padding: 20px;
}

.modal
{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    color: #1a1a1a;
    margin: 20px;
    padding: 5px;
}

.label
{
    font-weight: 500;;
}

#description
{
    font-weight: 100px;;
}

#close
{
    /* background-color: #777777; */
    font-weight: 1000;
    float: right;
    padding: 10px;
}
#close:hover{
cursor: pointer;
}

